@model Product

<h1>@Model.ProductName</h1>
<div class="container" id="productCardContainer">
    <div class="thumbnail">
        <div class="caption-full">
            <h3 class="pull right">@Model.ProductPrice</h3>
            <p>@Model.ProductDescription</p>
            <p>@Model.CategoryId</p>
        </div>
    </div>
</div>    