/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
} */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
} 

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  font-family: "Amazon Ember";
  background-color: rgb(223, 210, 210);
  padding-top: 150px;
  text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.img-responsive {
  float: left;
  width: 1.75in;
  height: 1.25in;
  /* margin-top: 10px; */
  margin-left: 15px;
}

.navbar {
  background-color: rgb(28, 33, 49);
  padding: 1px;
  height: 1.15in;

  border-radius: 1px; 
} 

#navigationTitles {
  float: right;
  padding-right:30px;
  padding-top: 25px;

}

/* #navigationTitles:a {
  border: 1px solid white;
} */


/* .navSpan {
  color: white
} */

.navbar li:hover {
  border: 1px solid white;
}


li {
  font-size: 22px;
  border-radius: 0.1cm;
}

/* li:hover{
  border: 1px solid rgba(255,255,255, .4);
  color: black;
} */

.caption {
  height: 130px;
  overflow: hidden;
}

.thumbnail {
  padding: 5px;
  width: 130px;
  height: 60px;
  display: table;
}

.thumbnail .caption-full {
  padding: 25px;
  
}

/*Bezos Cards*/
* {
  box-sizing: border-box;
}

.bezos-card {
width: 5.5in;
height: 4in;
float: left;
padding: 10px;
}

.bezos-card img {
background-size: cover;
width: auto;
height: 75%;
border-radius: 5px;
padding: 3%;
}


.col-sm-4 {
  float: left;
  margin-right: 0px;
}

#categoryImage {
  height: 3in;
}

.box1 {
  margin-left: 40px;
}

.img-cart {
  width: 40px;
  width: 40px;
  outline: 0;
  border: none;
  outline-style: none;
  pointer-events: none;
}

.img-cart:hover {
  border: none;
}

/* .img-cart:not(.img-cart):hover {  
  border: 1px solid red; 
} */

.thumbnail img {
  width: auto;
}

#detailsImage {
  width: 50%;
  height:50%;
}

#categoryImage {
  width: 100;
}

.carousel-inner > .item > img {
  width: 70%;
  margin: auto;
  height: 50%;
}



/*PRODUCT DETAILS*/

/* #productCardContainer {
  width: 5.5in;
  height: 4in;
  float: left;
  padding: 20px;
  }
   */
  /* #productCardContainer img {
  background-size: cover;
  width: auto;
  height: 65%;
  border-radius: 5px;
  padding: 5%;
  } */