@model Category

<div class="col-lg-6" style="">
  <div class="thumbnail">
    <div class="bezos-card">
      <img id="categoryImage" src="@Model.ThumbnailImage" alt="category image" />
      <h4><strong><a asp-controller="Product" asp-action="Index" asp-route-category="@Model.CategoryName">@Model.CategoryName</a></strong></h4>
      <p><strong>@Model.CategoryDescription</strong></p> 
    </div>
  </div>
</div>