<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
  <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <script src="~/lib/jquery/jquery.js"></script>
  <script src="~/lib/bootstrap/js/bootstrap.js"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href="~/css/site.css" rel="stylesheet" />
  <title>@ViewBag.Title</title>
</head>

  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar">
        <img class="img-responsive" src="~/img/damnazon.png" />
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id="navigationTitles">
            <li><a asp-controller="Home" asp-action="Index"><span class="navSpan">Home</span></a></li>
            @* @await Component.InvokeAsync("CategoryMenu") *@
            <li><a asp-controller="Contact" asp-action="Index"><span class="navSpan">Contact</span></a></li>
            @* @await Component.InvokeAsync("ShoppingCartSummary") *@
            <partial name="_LoginPartial"/>
          </ul>
        </div>
      </div>
    </nav>
  <body>
    <div class="col-md-9">
      @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
  </body>
</html>