@model ShoppingCartViewModel

<span class="z" style="color:#e47911" > @Model.ShoppingCart.ShoppingCartItems.Count</span>

<style>

span.z{
  position:absolute;
  bottom: 1.75cm;
  right: 1.75cm;
  font-size: 20px;
}

</style>

