@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to Damnazon</h1>
    <h4><strong>a jeff bezos digital garage sale</strong></h4> 
    <hr />
</div>

<partial name="_Carousel" />
<hr />

@foreach (var category in Model.Categories)
{
    @* <h1>@category.CategoryName</h1>
    <h1>@category.CategoryDescription</h1> *@
    <partial name="_categoryCard" model="category" />
}


